 
<%- include("partials/header"); -%>



  <%  userOrders.forEach(function(item){ %>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <img width="150" height="150" src= <%= item.img %> >
                 
                    <div class="col">
                    <br>
                        <div class="row"><%=item.name%></div>
                    </div>
                    
                    <div class="col">&#8377 <%=item.price %></div>
                     <div class="row">Slot Booked : <%=item.availableAt%></div>
                      <div class="row">isCompleted : <%=item.isCompleted%></div>
                    <hr/>
                </div>
            </div>
           <% }) %>



  <%- include("partials/footer"); -%>